<footer class="page-footer green lighten-1">
    <div class="container">
      <div class="row">
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="grey-text text-lighten-3" href="events.html">Events</a>
            </li>

            <li>
                <a class="grey-text text-lighten-3" href="about.html">About</a>
            </li>
          
            <li>
                <a class="grey-text text-lighten-3" href="contact.html">Contact</a>
            </li>
        </ul>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">© 2020 Copyright My Food Choices</div>
    </div> 
</footer>