<footer class="page-footer green lighten-1">
    <div class="footer-copyright">

      <div class="container">© 2020 Copyright My Food Choices</div>
    
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/views/js/materialize.min.js"></script>
<script type="text/javascript" src="/views/js/script.js"></script>