<header>
    <nav class="green">
        <div class="container nav-wrapper">
            <a href="login.html" class="brand-logo hide-on-med-and-down">
                <i class="material-icons">local_dining</i>My Food Choices</a>
            <a href="login.html" class="brand-logo hide-on-large-only">
                <i class="material-icons">local_dining</i>MFC</a>
            <a href="login.html" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% if (userId) { %>
                <li>
                    <form method='post' action='/logout'>
                        <button>Logout</button>
                    </form>
                </li>
                <% } else { %>
                <li>
                    <a href="signup.html">Sign Up</a>
                </li>
                <% } %>   
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        <% if (userId) { %>
            <li>
                <form method='post' action='/logout'>
                    <button>Logout</button>
                </form>
            </li>
            <% } else { %>
            <li>
                <a href="signup.html">Sign Up</a>
            </li>
            <% } %>
    </ul>
</header>