<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/nav.ejs') %>
    </header>

    <main>
      <h1>404</h1>
    </main>

    <%- include('./partials/footer.ejs') %>
</html>