<!DOCTYPE html>
<html lang="en-US">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
          <div class="container">
            <div class="row">
              <h3>This localhost page can't be found</h3>
              <p>No webpage was found for the web address above.</p>
              <p>HTTP ERROR 404</p>
            </div>
          </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>