<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/nav.ejs') %>
    </header>

    <main>
      <div class="container">
        <h4>Contact Us</h4>
        <p>
          Do you want to get in touch with us to make a suggestion or comment.
          We love to hear from you!
        </p>
        <p>
          Send us an email at
          <a href="mailto:test@testing.com">test@testing.com</a>.
        </p>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
