<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!-- MATERIALIZE: The `for` attribute is necessary to bind our custom checkbox with the input.
              Add the input's `id` as the value of the for attribute of the label. -->
            <form class="profile-form" action="/" method="GET">
                <div class="container">
                <h1>Dietary Restrictions</h1>
                <h3>Allergies</h3>
                    <p>
                    <label>
                        <input type="checkbox" id='eggs-allergy' name='eggs-allergy'/>
                        <span>Eggs</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='fish-allergy' name='fish-allergy'/>
                        <span>Fish</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='gluten-allergy' name='gluten-allergy'/>
                        <span>Gluten</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='peanut-allergy' name='peanut-allergy'/>
                        <span>Peanuts</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='shellfish-allergy' name='shellfish-allergy'/>
                        <span>Shellfish</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='soy-allergy' name='soy-allergy'/>
                        <span>Soy</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='treenut-allergy' name='treenut-allergy'/>
                        <span>Tree Nuts</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='wheat-allergy' name='wheat-allergy'/>
                        <span>Wheat</span>
                    </label>
                    </p>
                </div>
        
                <div class="container">
                <h3>Medical</h3>
                    <p>
                    <label>
                        <input type="checkbox" id='celiac' name='celiac'/>
                        <span>Celiac Disease: Gluten Free</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='suger-free' name='suger-free'/>
                        <span>Diabetes: Sugar Free</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='gout' name='gout'/>
                        <span>Gout: High Vegetables & Low Meat</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='hypertension' name='hypertension'/>
                        <span>Hypertension: Low Salt</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='lactose-intolerant' name='lactose-intolerant'/>
                        <span>Lactose Intolerance: Dairy Free</span>
                    </label>
                    </p>
                </div>
        
                <div class="container">
                <h3>Religious</h3>
                    <p>
                    <label>
                        <input type="checkbox" id='buddhist' name='buddhist'/>
                        <span>Buddhist: No Meat, Garlic &amp; Onions</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='hindu' name='hindu'/>
                        <span>Hindu: No Beef &amp; Eggs</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='jewish' name='jewish'/>
                        <span>Jewish: Kosher</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='muslim' name='muslim'/>
                        <span>Muslim: Halal</span>
                    </label>
                    </p>
                </div>
        
                <div class="container">
                <h3>Substance</h3>
                    <p>
                    <label>
                        <input type="checkbox" id="alcohol-free" name='alcohol-free'/>
                        <span>Alcohol Free</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id="caffine-free" name='caffine-free'/>
                        <span>Caffeine Free</span>
                    </label>
                    </p>
                </div>
        
                <div class="container">
                <h3>Weight Management</h3>
                    <p>
                    <label>
                        <input type="checkbox" id='atkins' name='atkins'/>
                        <span>Atkins</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='keto' name='keto'/>
                        <span>Keto</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id="low-carb" name='low-carb'/>
                        <span>Low Carb</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='low-fat' name='low-fat'/>
                        <span>Low Fat</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='paleo' name='paleo'/>
                        <span>Paleo</span>
                    </label>
                    </p>
                </div>
        
                <div class="container">
                <h3>Other</h3>
                    <p>
                    <label>
                        <input type="checkbox" id='pescetarian' name='pescetarian'/>
                        <span>Pescetarian</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='vegan' name='vegan'/>
                        <span>Vegan</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input type="checkbox" id='vegitarian' name='vegitarian'/>
                        <span>Vegetarian</span>
                    </label>
                    </p>
                </div>
        
                <div class="container center-align">
                <button
                    class="btn waves-effect waves-light btn-large green"
                    type="submit"
                >
                    Update Profile
                    <i class="material-icons right">save</i>
                </button>
                </div>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
