<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <div class="row">
          <h1>Sign Up</h1>
          <form class="signup-form col s12" action="/" method="POST">
            <div class="row">
              <div class="input-field col s6 hoverable">
                <i class="material-icons prefix">account_circle</i>
                <input
                  id="first_name"
                  type="text"
                  name="first_name"
                  class="validate"
                />
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6 hoverable">
                <input
                  id="last_name"
                  type="text"
                  name="last_name"
                  class="validate"
                />
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 hoverable">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate" />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 hoverable">
                <i class="material-icons prefix">security</i>
                <input
                  id="password"
                  type="password"
                  name="password"
                  class="validate"
                />
                <label for="password">Password</label>
              </div>
            </div>
            <button
              id="signup-btn"
              class="btn btn-large waves-effect waves-light green hoverable"
              type="submit"
              value="accept"
            >
              Sign Up<i class="material-icons right">send</i>
            </button>
            <p class="center-align">Already a member? <a href="/">Login</a></p>
          </form>
        </div>
      </div>
    </main>
    <script src="./js/signup.js"></script>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
